.App {
  text-align: center;
}

#nameForm, .chat {
  margin: 0 auto;
  width: 50%;
  border: 2px solid black;
  border-radius: 10px;
}

.nameForm, .chatForm {
  padding-bottom: 20px;
}

.chatLog {
  margin-bottom: 40px;
}

.userMessage, .otherMessage {
  margin-top: 10px;
  width: 75%;
  border-radius: 10px;
  padding: 5px;
}

.userMessage {
  margin-left: auto;
  margin-right: 10px;
  background-color: #039df7;
}

.otherMessage {
  margin-left: 10px;
  margin-right: auto;
  background-color: #b3dbf3;
}

#userName, #userMessage {
  margin: 10px;
  text-align: left;
}

#userName {
  font-weight: bold;
}